/* Generalt*/
h2, p {
    color: black;
}

h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.5;
    line-height: 1em;
}

h2 {
    font-family: serif;
}

p {
    font-family: sans-serif;
    font-weight: lighter;
}

title {
    font-family: serif;
}

/*php*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    width: 8em;
    color: #ffffff;
    padding: 1em 1em;
    text-decoration: none;
}

li a:hover {
    background-color: #cccccc;
    color: #000000;
}
/* klargøring til #mitgrid */
* {box-sizing: border-box;}

body {
    margin: 2;
    min-height: 100vh;
    padding: 2;
}


header,
footer {
    background: #999999;
}

header,
section,
footer {
    padding: 2em;
}

/* styling af menuen */


/*-----------------------------------
#mitgrid start
-------------------------------------
*/
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 1em;
}

#mitgrid div {
    font-size: 1em;
    color: #000000;
    text-align: center;
    border-color: #000000;
    border-width: 6px;
    margin: 6px;
}



